table,th,td{
    border: 2px solid;
    /* border-collapse : collapse; */
    text-align: center;
    /* border-color: black; */
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-group{
    margin-right: 25%;
}
.font-weight-bold{
    font-size: larger;
}
.nav-menu{
    float: right;
    margin-right: 10px;
    list-style: none;
    height: 60px;
    font-size: small;    
}
.nav-menu a{
    color:rgb(145, 19, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.nav-menu a:hover{
    text-decoration: none;
}
.form{
    margin-left: 10%;
}