.login{
    width: 400px;
    height: auto;
    margin: auto;
    padding: 20px 30px;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    color: white;
    float:right;
    max-width: 300px;
    margin-top:10px;
    margin-right:0px;
    margin-bottom:300px;
    display: flex;
  }
  label{
    width:100px;
    display: inline-block; 
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  body {
  
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }
