input:required:invalid {
    border: 2px solid red;
}
input:required:valid{
    border: 2px solid rgb(27, 234, 12);
}
input{
    outline: none;
}
form:invalid button {
    opacity: 0.9;
    pointer-events: none;
}
.form{
    margin-left: 35%;
    margin-right: 35%;
    border: 3px solid black;
    margin-top: 100px;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}