td{
    padding: 5px;
}
td.left{
    text-align: right;
}
td.center{
    text-align: center;
}
.profile{
    margin-left: 35%;
    margin-right: 35%;
    border: 3px solid black;
    margin-top: 155px;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
}
input:required:invalid,select:required:invalid {
    border: 2px solid red;
}
input:required:valid,select:required:valid{
    border: 2px solid rgb(27, 234, 12);
}
input{
    outline: none;
}
form:invalid button {
    opacity: 0.9;
    pointer-events: none;
}
.non-edit:hover{
    cursor: not-allowed;
}
