body{
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-group {
    margin-right: 5%;
}
.font-weight-bold{
    font-size:x-large;
    display: flex;
    flex-direction: row;
    padding: 2%;
    gap: 2%;
    justify-content:flex-end;

}
